@import "materialize";
.top-bar {
  background: white;
  box-shadow: 0 -1px 10px 2px black;
  float: left;
  width: 100%;
  height: 200px;
  z-index: 1;
  margin-bottom: 60px;
}

.caps {
  text-transform: capitalize;
}

.name {
  color: #0C1A47;
  font-family: 'Arial';
  font-size: 100px;
  padding-left: 50px;
  text-align: center;
}

body {
  text-align: center;
  background-color: #395F83;

}

div.all-users {

  display: inline-block;
  text-align: center;

}

div.user {
  background: #0C1A47;
  text-align: center;
  color: white;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 50%;
  border: 2px solid #303032;
}


user-information {
  text-align: center;
  margin: auto;
  position: fixed;
  padding: 50px;
  margin-top: 50px;
}


h5 {
  text-align: center;
  padding-top: 20px;
}

h6 {
  text-align: center;
  font-size: 100px;

}

.mychore {
  font-weight: bold;
}


.create_chore {
  font-size: 20px;
}



div.chorestats {
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}



div.due_two_day {
  display: inline-block;
  font-size: 20px;
  margin: auto;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px black;
  width: 320px;
  padding: 10px;
  text-align: center;
  list-style-type: none;
  padding-top: 10px;
  height: 310px;
  vertical-align: text-bottom;
  border-radius: 10px;
  background-color: red;
  box-shadow: 0 -1px 5px 2px black;

}

div.two_four_days {
  display: inline-block;
  font-size: 20px;
  margin: auto;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 320px;
  margin-top: 5px;
  border: 2px black;
  padding: 10px;
  text-align: center;
  list-style-type: none;
  padding-top: 10px;
  height: 310px;
  vertical-align: text-bottom;
  border-radius: 10px;
  background-color: #FF7A1B;
  box-shadow: 0 -1px 5px 2px black;
}

div.four_six_days {
  display: inline-block;
  font-size: 20px;
  margin: auto;
  margin-right: 5px;
  margin-left: 5px;
  width: 320px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px black;
  padding: 10px;
  text-align: center;
  list-style-type: none;
  padding-top: 10px;
  height: 310px;
  vertical-align: text-bottom;
  border-radius: 10px;
  background-color: #FFE631;
  box-shadow: 0 -1px 5px 2px black;
}

div.seven_twelve_days {
  display: inline-block;
  font-size: 20px;
  margin: auto;
  margin-right: 5px;
  margin-left: 5px;
  width: 320px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px black;
  padding: 10px;
  text-align: center;
  list-style-type: none;
  padding-top: 10px;
  height: 310px;
  vertical-align: text-bottom;
  border-radius: 10px;
  background-color: #5AFE3D;
  box-shadow: 0 -1px 5px 2px black;
}

div.greater_twelve {
  display: inline-block;
  font-size: 20px;
  margin: auto;
  width: 320px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px black;
  padding: 10px;
  text-align: center;
  list-style-type: none;
  padding-top: 10px;
  height: 310px;
  vertical-align: text-bottom;
  border-radius: 10px;
  background-color: #00CCFF;
  box-shadow: 0 -1px 5px 2px black;
}



button.js-claim-chore {
  display: inline;
  margin-right: 10px;
  margin-left: 20px;
}

button.js-delete-chore {
  display: inline;
}

button.js-claim-chore:active {
  background: #395F83;
}

button.js-delete-chore:active {
  background: #395F83;
}

a {
  display: inline-block;
  font-size: 40px;
  margin-left: 0px;
  margin-top: 0px;
  text-align: center;
  font-weight: bold;
  color: white;
}

h3 {
  color: #00CCFF;
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

}

h5 {
  margin-top: 30px;
}

h1 {
  margin-left: 5px;
  font-size: 150px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;


}





.createchore {
  text-align: center;
  text-decoration-style: solid;
  text-transform: uppercase;
  margin-top: 20px;
  color: #FF6600;
  text-decoration-color: #FF6600;
  font-size: 20px;
}

.new_chore_form {
  background: #0C1A47;
  width: 66%;
  text-align: center;
  margin: auto;
  height: 400px;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 -1px 3px 2px black;
}


.CreateTitle {
  width: 500px;
  margin: auto;
}

div.new_apartment_form {
  background: #0C1A47;
  width: 66%;
  text-align: center;
  margin: auto;
  height: 525px;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 -1px 3px 2px black;
}

.new_apartment_form, select, textarea {
  color: white;
  font-size: 16px;
}

.actions {
  margin-top: 20px;
}


div.new_chore_form, select, label {
  font-size: 16px;
}

div.new_chore_form, select, textarea {
  color: white;
  font-size: 16px;
}


input {
  color: black;
}

div.field {
  margin-top: 20px;
  color: white;
}



label {

  margin-top: 20px

}

div.message {
  background: #464952;
  margin-top: 10px;
  margin-bottom: 10px;

}


a {
  width: auto;
}

div.user-widget {
  float: left;
  position: relative;
  display: inline;
  margin-top: 0px;
  margin-bottom: 30px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  background: #505050;
  width: 100%;
}



div.signout {
  display: inline-block;
  margin:auto;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  font-size: 20px
}

div.addroomate {
  display: inline-block;
  margin:auto;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  font-size: 20px;

}

div.back {
  margin-top: 10px;
}
