*= require main
*= require_self

@import main;
$red: #E00808;


ul.two-day {
  text-align: center;
  color: $red;
}


.5-day {
  background: blue;
  text-align: center;
}

body {
  background-color: #E00808;
}
